.login-wrapper {
    width: calc(100%-1px);
    height: 100vh;
}

.login_wel_img {
    height: 100vh;
    width: 100%;
    position: relative;
}

.login_wel_img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    background-position: cover;
}

.login_form {
    position: relative;
    width: 300px;
    border: 2px solid #4f52ff6e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 20px;
}

.login_form .lock_img {
    position: absolute;
    height: 60%;
    top: -140px;
    left: 50%;
    transform: translate(-50%);
}

.login_form h2 {
    font-weight: 700;
    margin-top: 70px;
    color: rgb(54, 54, 54);
}

.login_form form {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.login_form form input,
.login_form form button {
    border-radius: 0px;
    background-color: #b2bec334;
    margin: 30px 0px;
}

.login_form form input:focus,
.login_form form button:focus {
    outline: none;
    box-shadow: none;
}

.login_form form input::placeholder {
    font-weight: 600;
}

.login_form form button {
    background: #4f52ff;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
    border: none;
    transition: 0.2s all;
}

.login_form form button:focus {
    background: #3f42e2;
    color: #fff;
    transition: 0.2s all;
}

@media screen and (min-width : 378px) and (max-width:786px) {
    .login_wel_img img {
        height: 75%;
    }
}